html {
  font-family: "EB Garamond" !important;
  font-size: 10px;
}

body {
  margin: 0;
}

main {
  margin: 2rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}
