@use "../base/mixins";

.articles {
  h1 {
    font-family: var(--heading-font);
    font-size: 3rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem 2rem;
    @include mixins.custom(1150px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mixins.custom(750px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.custom(500px) {
      grid-template-columns: 1fr;
    }
  }

  @include mixins.default-padding;
}
