.article {
  &__wrapper {
    display: grid;
    width: 100%;
    place-items: center;
  }

  &__heading {
    text-align: center;
    display: grid;
    width: 60%;

    @include respond(tab-land) {
      width: 80%;
    }
    @include respond(tab-port) {
      width: 100%;
    }

    place-items: center;

    h2 {
      margin-top: 1rem !important;
      margin: 0;
      width: 100%;
      font-family: "IM Fell Double Pica SC";
      font-size: 4rem;
    }

    h3 {
      font-weight: 400;
      font-size: 2rem;
      margin: 1rem 0rem 1.75rem 0rem;
      color: #737373;
    }
  }

  &__content {
    text-align: justify;
    width: 60%;
    font-size: 1.75rem;
    // word-break: break-all;

    &--image {
      display: grid;
      place-items: center;

      .image-c {
        width: 70%;
      }
    }

    @include respond(tab-port) {
      width: 80%;
    }
    @include respond(breaking) {
      width: 100%;
    }
  }
}
