@use "../base/mixins";

.article {
  @include mixins.narrow-padding;

  @include mixins.respond(phone) {
    width: 90%;
  }

  &__info {
    &--tags {
      display: flex;
      gap: 1rem;
      margin-top: 4rem;
      z-index: 10;

      span {
        padding: 0.5rem 1rem;
        color: var(--newtonian-white);
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: Poppins, sans-serif;
      }
    }

    &--title {
      font-size: 5rem;
      font-weight: 700;
      font-family: var(--heading-font), sans-serif;
      margin-top: 0.5rem;
      margin-bottom: 2.5rem;
      line-height: 1;
      word-break: break-word;
      // hyphens: auto;

      @include mixins.respond(phone) {
        font-size: 4rem;
      }
    }

    &--editor {
      font-size: 1.75rem;
      font-weight: 300;
      margin: 0;
      font-family: var(--heading-font), sans-serif;

      a {
        color: var(--dark-gray);
        text-decoration: underline;
      }
    }

    &--date {
      font-size: 1.75rem;
      font-weight: 300;
      margin: 0;
      font-family: var(--heading-font), sans-serif;
    }

    &--banner {
      // margin-bottom: 1rem;
      width: 100%;
      // aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: center;
    }

    &--authors {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 1.5rem 0;

      a {
        text-decoration: none;
        color: black;
      }

      &--item {
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 2rem;

        span {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h2 {
          font-size: 2.5rem;
          font-weight: 300;
          line-height: 1.2;
          margin: 0;
          font-family: var(--heading-font), sans-serif;
          color: var(--dark-gray);

          @include mixins.respond(phone) {
            font-size: 2rem;
          }
        }
        p {
          color: var(--dark-gray);
          margin: 0;
          //   margin-top: -0.5rem;
          font-size: 1.5rem;
        }
        img {
          aspect-ratio: 1/1;
          display: block;
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  &__content {
    margin-top: 2rem;
    font-size: 2.5rem;
    text-align: justify;
    font-weight: 300;
    line-height: 1.5;
    font-family: "EB Garamond", serif;

    p:first-child {
      text-indent: 4rem;

      @include mixins.respond(phone) {
        text-indent: 2.5rem;
      }
    }

    h1,
    h2,
    h2,
    h4,
    h5 {
      text-indent: 0;
      font-family: var(--heading-font), sans-serif;
      font-weight: 400;
      font-style: italic;
      line-height: 120%;
      margin-bottom: 0;
    }

    p:first-child::first-letter {
      color: var(--newtonian-marine);
      font-size: 4rem;
      font-weight: 700;
      font-style: italic;
      line-height: 1;
    }

    li {
      text-indent: 0rem;
      margin-bottom: 1rem;
      a {
        color: var(--newtonian-marine);
      }
    }

    @include mixins.respond(phone) {
      font-size: 2rem;
      line-height: 1.5;
      text-align: left;
      p:first-child::first-letter {
        color: var(--newtonian-marine);
        font-size: 4rem;
      }
    }
  }
}
