.article {
  @include narrow-padding;

  @include respond(phone) {
    width: 90%;
  }

  &__info {
    &--title {
      font-size: 5rem;
      font-weight: 700;
      font-family: "Andika", sans-serif;
      margin-bottom: 2.5rem;
      margin-top: 4rem;
      line-height: 1.2;
    }

    &--editor {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      font-family: "Andika", sans-serif;

      a {
        color: var(--dark-gray);
        text-decoration: underline;
      }
    }

    &--date {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      font-family: "Andika", sans-serif;
    }

    &--banner {
      margin-bottom: 1rem;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      object-position: top;
    }

    &--authors {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: black;
      }

      &--item {
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 2rem;

        span {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        h2 {
          font-size: 2.5rem;
          font-weight: 300;
          margin: 0;
          font-family: "Andika", sans-serif;
          color: var(--dark-gray);
        }
        p {
          color: var(--dark-gray);
          margin: 0;
          margin-top: -0.5rem;
          font-size: 1.5rem;
        }
        img {
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 50%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }

  &__content {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: justify;
    font-weight: 300;
    line-height: 1.5;
    font-family: "EB Garamond", serif;

    p:first-child {
      text-indent: 4rem;

      @include respond(phone) {
        text-indent: 2.5rem;
      }
    }

    // p {
    //   margin-bottom: 1rem;
    // }

    h1,
    h2,
    h2,
    h4,
    h5 {
      text-indent: 0;
      font-family: "Andika", sans-serif;
      font-weight: 400;
      font-style: italic;
    }

    p:first-child::first-letter {
      color: var(--newtonian-marine);
      font-size: 3rem;
      font-weight: 700;
    }

    li {
      text-indent: 0rem;
      margin-bottom: 1rem;
      a {
        color: var(--newtonian-marine);
      }
    }

    @include respond(phone) {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}
