.categories {
  @include default-padding;

  &__articles {
    &--title {
      h2 {
        font-style: italic;
        font-weight: 400;
      }
    }

    &--list {
      justify-items: center;

      width: 100%;
    }
  }
}
