.categories {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @include respond(big-desktop) {
    width: 65%;
  }
  @include respond(tab-port) {
    width: 100%;
  }
  width: 80%;

  &__articles {
    &--title {
      h2 {
        font-style: italic;
        font-weight: 400;
      }
    }

    &--list {
      justify-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @include respond(tab-land) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include custom(800px) {
        grid-template-columns: 1fr 1fr;
      }
      @include custom(450px) {
        grid-template-columns: 1fr;
      }
      width: 100%;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // justify-items: center;

      gap: 2.5rem;
    }
  }
}
