.issue {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  width: 60%;
  @include respond(tab-land) {
    width: 100%;
  }

  &__info {
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 3rem;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }

    // &--cover {
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   .image-c {
    //     @include respond(tab-port) {
    //       width: 60%;
    //     }
    //   }
    // }

    &--content {
      h4 {
        margin: 0;
        font-style: italic;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1rem !important;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    &--article {
      &:nth-child(odd) {
        background-color: #efefef;
      }
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 2.25fr;
      align-items: center;
      gap: 1rem;

      h5 {
        font-weight: 400;
        margin-left: 1rem !important;
        font-size: 1.5rem;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      h6 {
        font-weight: 400;
        margin: 0;
        font-size: 1.25rem;
        color: var(--signature-grey);
        margin-right: 1rem !important;
        text-align: right;
      }
    }
  }

  &__heading {
    text-align: left;
    margin-bottom: 2rem;

    h1 {
      font-family: "IM Fell Double Pica SC";
      font-size: 5rem;
      margin: 0;
    }

    h3 {
      margin: 0;
      font-weight: 400;
      font-size: 1.75rem;
      color: #9e9e9e;
    }
  }
}
