@use "../base/mixins";

.members {
  margin-top: 3rem;

  img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-self: center;
    align-items: start;
    justify-content: center;
    align-self: center;
    gap: 3rem 5rem;

    a {
      color: black;
      text-decoration: none;
      height: 100%;
      width: 100%;
    }
    img {
      aspect-ratio: 3/4;
      margin-bottom: 1rem;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
    h4 {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
      font-weight: 300;
      line-height: 1.15;
    }

    h3 {
      font-size: 1.75rem;
      line-height: 1.5;
      margin: 0;
      text-align: center;
    }

    h5 {
      font-family: "PT Sans", sans-serif;
      line-height: 1.5;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      text-align: center;
    }
    @include mixins.custom(1150px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mixins.custom(750px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mixins.custom(500px) {
      grid-template-columns: 1fr;
      width: 90%;
    }

    &--card {
      height: 100%;
      display: block;
    }
  }

  &__important {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 60%;
    place-self: center;
    justify-content: center;
    align-items: start;
    margin-bottom: 3rem;

    a {
      color: black;
      text-decoration: none;
    }
    img {
      aspect-ratio: 3/4;
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.5rem;
      text-align: center;
      margin: 0;
      font-weight: 300;
      line-height: 1.15;
    }

    h3 {
      font-size: 2rem;
      line-height: 1.5;
      margin: 0;
      text-align: center;
    }

    h5 {
      font-family: "PT Sans", sans-serif;
      line-height: 1.5;
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      text-align: center;
    }
    @include mixins.respond(tab-port) {
      width: 80%;
    }
    @include mixins.respond(phone) {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }

  @include mixins.default-padding;
}
