.members {
  @include default-padding;

  display: grid;
  a {
    text-decoration: none;
    color: black;
  }

  &__important {
    place-self: center;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 60%;
    @include respond(breaking) {
      grid-template-columns: 1fr;
    }
    @include respond(tab-land) {
      width: 80%;
    }
    gap: 5rem;
    place-items: center;
    padding-bottom: 2rem;

    &--card {
      height: 100%;

      h3 {
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
        margin: 1rem 0;
      }
      h4 {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        margin: 0.5rem 0;
        color: var(--signature-grey);
      }
      img {
        aspect-ratio: 3/4;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__list {
    place-self: center;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4.5rem;

    @include respond(tab-land) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include custom(800px) {
      grid-template-columns: 1fr 1fr;
      width: 80%;
    }
    @include custom(450px) {
      grid-template-columns: 1fr;
      width: 70%;
      gap: 3rem;
    }
    place-items: center;
    align-items: stretch;

    &--card {
      height: 100%;

      h3 {
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
        margin: 1rem 0;
      }
      h4 {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        margin: 0.5rem 0;
        color: var(--signature-grey);
      }
      img {
        aspect-ratio: 3/4;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
