.footer {
  @include default-padding;
  &__wrapper {
    background-color: var(--signature-white);
  }
  height: fit-content;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.35rem;

  &__right {
    text-align: right;
  }

  h4 {
    margin: 0;
    font-weight: 400;
  }
}
