.import {
  &__area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__field {
    height: fit-content;
    border-radius: 1.1rem;
    border: solid 0.1rem var(--border-color);
    padding: 2rem;
    margin: 2rem 0;
  }

  &__form {
    border: solid 0.1rem var(--border-color);
    display: block;
    padding: 2rem;
    border-radius: 1.1rem;

    h3 {
      font-size: 2rem;
      font-style: italic;
      font-weight: 400;
    }

    &--action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
    }
    &--area {
      height: 30rem !important;
      display: block;
    }

    @include respond(breaking) {
      width: 100%;
    }

    width: 45rem;

    &--field {
      height: fit-content;
      border-radius: 1.1rem;
      border: solid 0.1rem var(--border-color);
      padding: 2rem;
      margin: 2rem 0;

      p {
        margin: 0 0 1rem 0;
        font-weight: 600;
      }
      input {
        margin: 0;
        padding: 0;
        border: solid 0.1rem var(--border-color);
        width: 80%;
        font-family: inherit;
        height: 5rem;

        border-radius: 1.1rem;
        background-color: #f9f9f9;
        box-shadow: 0 0 2rem #00000020;
        font-size: 1.5rem;
        padding: 0 1rem;
      }
      textarea {
        margin: 0;
        padding: 0;
        border: solid 0.1rem var(--border-color);
        width: 80%;
        font-family: inherit;
        height: 10rem;
        font-size: 1.5rem;
        border-radius: 1.1rem;
        background-color: #f9f9f9;
        box-shadow: 0 0 2rem #00000020;
        padding: 1rem;
      }
      select {
        margin: 0;
        padding: 0;
        border: solid 0.1rem var(--border-color);
        width: 80%;
        font-size: 1.5rem;

        padding: 1rem;
        font-family: inherit;
        height: 5rem;
        border-radius: 1.1rem;
        background-color: #f9f9f9;
        box-shadow: 0 0 2rem #00000020;
        padding: 0 1rem;
      }
    }
  }
}
