.members-action {
  @include default-padding;
  a {
    text-decoration: none;
    width: 100%;
  }
  &__btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    font-size: 2rem;

    &--published {
      background-color: rgb(87, 180, 40);
      color: white;
    }
    &--contestant {
      background-color: rgb(180, 124, 40);
      color: white;
    }
    &--not-published {
      background-color: rgb(167, 167, 167);
      color: rgb(0, 0, 0);
    }
    &--delete {
      background-color: #9c1b15;
      color: rgb(255, 255, 255);
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__item {
    border: solid 0.1rem var(--border-color);
    display: block;
    padding: 2rem;
    border-radius: 1.1rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3.5fr;
    padding: 2rem;
    gap: 2rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
    }

    &--cover {
      display: grid;
      align-items: center;
      img {
        object-fit: cover;
        aspect-ratio: 3/4;
        width: 100%;

        height: auto;
      }
    }

    &--signature {
      display: grid;
      align-items: center;
      @include respond(phone) {
        width: 50%;
      }

      img {
        object-fit: cover;
        // aspect-ratio: 16/9;
        width: 100%;
        background-color: whitesmoke;
        outline: 2px solid orangered;
        outline-offset: -2px;

        @include respond(phone) {
          width: 50%;
        }
        height: auto;
      }
    }

    &--info {
      width: 100%;
      h3 {
        font-family: "Playfair Display";
        line-height: 120%;
        font-size: 2.5rem;
        margin: 0 0 0.5rem 0;
        width: 100%;
        word-break: break-all;
      }
      h4 {
        font-weight: 400;

        font-size: 1.75rem;
        margin: 0.5rem 0;
      }
      h5 {
        font-weight: 400;

        font-size: 1.5rem;
        margin: 0.5rem 0;
      }
    }

    &--action {
      padding-top: 1rem;
      display: flex;
      gap: 2rem;
    }
  }
}
