@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap");
html {
  font-family: "EB Garamond", serif !important;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--signature-white); }
  html *::-webkit-scrollbar {
    background-color: transparent;
    width: 15px; }
  html *::-webkit-scrollbar-track {
    background-color: transparent; }
  html *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: #b7b1a96d;
    backdrop-filter: blur(1.5rem);
    background-clip: content-box; }

body {
  margin: 0;
  background-color: var(--background-color);
  overflow: overlay;
  color: var(--font-color); }

main {
  margin: 2rem;
  min-height: calc(100vh - 18.5rem); }

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 1rem; }

h2 {
  font-size: 3rem; }

p {
  font-size: 1.75rem; }

a {
  color: var(--signature-grey); }

button {
  width: 50%;
  border: none;
  height: 5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 1.1rem;
  margin-top: 2rem;
  font-family: inherit;
  transition: transform 0.2s; }
  button:hover {
    transform: translateY(-0.5rem); }

.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .skeleton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(136, 134, 130, 0) 0, rgba(136, 134, 130, 0.05) 20%, rgba(136, 134, 130, 0.08) 60%, rgba(136, 134, 130, 0));
    animation: shimmer 2s infinite;
    content: ""; }

@keyframes shimmer {
  100% {
    transform: translateX(100%); } }

:root {
  --signature-white: #eeece9;
  --signature-grey: #9e9e9e;
  --border-color: rgb(221, 221, 221);
  --background-color: #ffffff;
  --overlay-color: #ffffff75;
  --font-color: #000; }

@media (prefers-color-scheme: dark) {
  :root {
    --signature-white: #261e1e;
    --background-color: #2e2727;
    --overlay-color: #2e272775;
    --signature-grey: #adc2b9;
    --border-color: #675d53;
    --font-color: #f8f8f7;
    --alternating-color: #241e1e; }
  .header__logo--light {
    display: none; } }

@media (prefers-color-scheme: light) {
  :root {
    --signature-white: #eeece9;
    --signature-grey: #9e9e9e;
    --background-color: #ffffff;
    --overlay-color: #ffffff75;
    --font-color: #000;
    --border-color: rgb(221, 221, 221);
    --alternating-color: #efefef; }
  .header__logo--dark {
    display: none; } }

.header {
  width: 80%;
  height: 10rem;
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: max;
  justify-content: space-between;
  align-items: center; }
  .header__wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--signature-white); }
  @media print {
    .header {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .header {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .header {
      width: 100%; } }
  @media only screen and (max-width: 800px) {
    .header {
      height: fit-content;
      grid-template-columns: 1fr;
      justify-content: center;
      width: 100%; } }
  .header__logo {
    margin-left: 2rem; }
    @media only screen and (max-width: 800px) {
      .header__logo {
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: center; } }
    .header__logo img {
      width: auto;
      height: 5rem; }
      @media only screen and (max-width: 800px) {
        .header__logo img {
          height: 6rem;
          padding-top: 2rem; } }
  .header__nav {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2rem; }
    @media only screen and (max-width: 800px) {
      .header__nav {
        height: fit-content;
        justify-content: center;
        padding: 2rem;
        padding-bottom: 0rem;
        padding-top: 1rem; } }
    .header__nav ul {
      border-bottom: var(--font-color) 0.1rem solid;
      padding: 0.5rem;
      width: 100%;
      list-style: none;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
      .header__nav ul a {
        text-decoration: none;
        color: var(--font-color);
        font-size: 1.75rem; }

.footer {
  width: 80%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.35rem; }
  .footer__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .footer {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .footer {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .footer {
      width: 100%; } }
  .footer__wrapper {
    background-color: var(--signature-white); }
  .footer__right {
    text-align: right; }
  .footer h4 {
    margin: 0;
    font-weight: 400; }

.home {
  width: 80%; }
  .home__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .home {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .home {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .home {
      width: 100%; } }
  .home__banner {
    display: grid;
    width: 100%;
    grid-template-columns: 6fr 4fr;
    gap: 2rem;
    height: fit-content; }
    @media only screen and (max-width: 1100px) {
      .home__banner {
        grid-template-columns: 1fr; } }
    .home__banner--readmore {
      width: 100%;
      text-align: right; }
      .home__banner--readmore a {
        color: var(--signature-grey);
        font-size: 1.5rem; }
    .home__banner--info {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      .home__banner--info h1 {
        font-family: "Playfair Display";
        font-size: 4.25rem; }
        @media only screen and (max-width: 800px) {
          .home__banner--info h1 {
            font-size: 3.5rem; } }
      .home__banner--info h5 {
        font-weight: 400;
        font-size: 1.75rem;
        color: var(--signature-grey);
        margin: 0; }
      .home__banner--info p {
        font-size: 1.75rem;
        text-align: justify;
        line-height: 160%; }
    .home__banner--cover img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .home__articles--title h2 {
    font-style: italic;
    font-weight: 400; }
  .home__articles--no {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--signature-grey);
    font-style: italic; }
  .home__articles--list {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 2.5rem; }
    @media only screen and (max-width: 1200px) {
      .home__articles--list {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media only screen and (max-width: 800px) {
      .home__articles--list {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 450px) {
      .home__articles--list {
        grid-template-columns: 1fr; } }

.article__wrapper {
  display: grid;
  width: 100%;
  place-items: center; }

.article__heading {
  text-align: center;
  display: grid;
  width: 60%;
  place-items: center; }
  @media only screen and (max-width: 1200px) {
    .article__heading {
      width: 80%; } }
  @media only screen and (max-width: 900px) {
    .article__heading {
      width: 100%; } }
  .article__heading h2 {
    margin-top: 1rem !important;
    margin: 0;
    width: 100%;
    font-family: "Playfair Display";
    font-size: 4rem; }
  .article__heading h3 {
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem 0rem 1.75rem 0rem;
    color: #737373; }

.article__content {
  text-align: justify;
  width: 60%;
  font-size: 1.75rem; }
  .article__content--image {
    display: grid;
    place-items: center; }
    .article__content--image .image-c {
      width: 70%; }
  @media only screen and (max-width: 900px) {
    .article__content {
      width: 80%; } }
  @media only screen and (max-width: 800px) {
    .article__content {
      width: 100%; } }

.issues {
  width: 80%; }
  .issues h2 {
    font-weight: 400;
    font-style: italic;
    margin: 0 0 1rem 0; }
  .issues__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .issues {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .issues {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .issues {
      width: 100%; } }
  .issues__list {
    justify-items: center;
    display: grid;
    gap: 2.25rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%; }
    @media only screen and (max-width: 1200px) {
      .issues__list {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media only screen and (max-width: 800px) {
      .issues__list {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 450px) {
      .issues__list {
        grid-template-columns: 1fr; } }

.issue {
  width: 60%; }
  .issue__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media only screen and (max-width: 1200px) {
    .issue {
      width: 80%; } }
  @media only screen and (min-width: 1800px) {
    .issue {
      width: 65%; } }
  @media only screen and (max-width: 680px) {
    .issue {
      width: 100%; } }
  .issue__pdf {
    width: calc(100% - 2rem);
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var(--alternating-color);
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-shadow: -1px -1px 0 var(--font-color), 1px -1px 0 var(--font-color), -1px 1px 0 var(--font-color), 1px 1px 0 var(--font-color);
    color: var(--alternating-color); }
    .issue__pdf h3 {
      color: var(--font-color);
      font-size: 2rem;
      text-shadow: none;
      font-weight: 400;
      padding-left: 0.5rem; }
  .issue__info {
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 3rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 600px) {
      .issue__info {
        grid-template-columns: 1fr; } }
    .issue__info--cover .image-c img {
      border: var(--signature-grey) solid 0.1rem; }
    .issue__info--content h4 {
      margin: 0;
      font-style: italic;
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 1rem !important; }
    .issue__info a {
      text-decoration: none; }
    .issue__info--article {
      color: var(--font-color);
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 2.25fr;
      align-items: center;
      gap: 1rem; }
      .issue__info--article:nth-child(even) {
        background-color: var(--alternating-color); }
      .issue__info--article h5 {
        font-weight: 400;
        margin-left: 1rem !important;
        font-size: 1.5rem;
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem; }
      .issue__info--article h6 {
        font-weight: 400;
        margin: 0;
        font-size: 1.25rem;
        color: var(--signature-grey);
        margin-right: 1rem !important;
        text-align: right; }
  .issue__headline {
    text-align: left;
    margin-bottom: 2rem; }
    .issue__headline h1 {
      font-family: "Playfair Display";
      font-size: 5rem;
      margin: 0; }
    .issue__headline h3 {
      margin: 0;
      font-weight: 400;
      font-size: 1.75rem;
      color: var(--signature-grey); }

.not-found {
  width: 80%; }
  .not-found__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .not-found {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .not-found {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .not-found {
      width: 100%; } }

.categories {
  width: 80%; }
  .categories__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .categories {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .categories {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .categories {
      width: 100%; } }
  .categories__articles--title h2 {
    font-style: italic;
    font-weight: 400; }
  .categories__articles--list {
    justify-items: center;
    width: 100%; }

.member {
  width: 80%; }
  .member__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media only screen and (max-width: 1000px) {
    .member {
      width: 100%; } }
  .member__info {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%; }
    @media only screen and (max-width: 800px) {
      .member__info {
        grid-template-columns: 1fr; } }
    .member__info--left {
      width: 100%;
      gap: 2rem;
      display: grid;
      grid-template-columns: 1fr 3fr; }
      @media only screen and (max-width: 1100px) {
        .member__info--left {
          grid-template-columns: 1fr 2fr; } }
      @media only screen and (max-width: 800px) {
        .member__info--left {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr; } }
    .member__info--bio h3 {
      font-size: 2.75rem;
      font-weight: 400;
      margin: 1rem 0; }
    .member__info--bio h4 {
      margin: 0;
      font-weight: 400;
      font-size: 1.75rem; }
    .member__info--bio h5 {
      font-size: 1.5rem;
      font-weight: 400;
      margin: 1rem 0; }
    .member__info--bio p {
      width: 70%; }
      @media only screen and (max-width: 900px) {
        .member__info--bio p {
          width: 100%; } }
    .member__info--image {
      display: block;
      width: 100%; }
      @media only screen and (max-width: 800px) {
        .member__info--image {
          height: 100%;
          justify-self: center; } }
      .member__info--image img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3/4; }
    .member__info--right {
      width: 100%;
      align-self: center; }
      @media only screen and (max-width: 900px) {
        .member__info--right {
          display: none; } }
      .member__info--right img {
        width: 100%; }
        @media (prefers-color-scheme: dark) {
          .member__info--right img {
            -webkit-filter: invert(98%) sepia(100%) saturate(418%) hue-rotate(297deg) brightness(116%) contrast(94%);
            /* Safari/Chrome */
            filter: invert(98%) sepia(100%) saturate(418%) hue-rotate(297deg) brightness(116%) contrast(94%); } }

.members {
  width: 80%;
  display: grid; }
  .members__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .members {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .members {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .members {
      width: 100%; } }
  .members a {
    text-decoration: none;
    color: var(--font-color); }
  .members__important {
    place-self: center;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    width: 60%;
    gap: 5rem;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 800px) {
      .members__important {
        grid-template-columns: 1fr; } }
    @media only screen and (max-width: 1200px) {
      .members__important {
        width: 80%; } }
    .members__important--card {
      height: 100%; }
      .members__important--card h3 {
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
        margin: 1rem 0; }
      .members__important--card h4 {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        margin: 0.5rem 0;
        color: var(--signature-grey); }
      .members__important--card img {
        aspect-ratio: 3/4;
        width: 100%;
        object-fit: cover; }
  .members__list {
    place-self: center;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4.5rem;
    place-items: center;
    align-items: stretch; }
    @media only screen and (max-width: 1200px) {
      .members__list {
        grid-template-columns: 1fr 1fr 1fr; } }
    @media only screen and (max-width: 800px) {
      .members__list {
        grid-template-columns: 1fr 1fr;
        width: 80%; } }
    @media only screen and (max-width: 450px) {
      .members__list {
        grid-template-columns: 1fr;
        width: 70%;
        gap: 3rem; } }
    .members__list--card {
      height: 100%; }
      .members__list--card h3 {
        font-size: 1.75rem;
        font-weight: 400;
        text-align: center;
        margin: 1rem 0; }
      .members__list--card h4 {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
        margin: 0.5rem 0;
        color: var(--signature-grey); }
      .members__list--card img {
        aspect-ratio: 3/4;
        width: 100%;
        object-fit: cover; }

.u-article {
  width: 80%; }
  .u-article__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .u-article {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .u-article {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .u-article {
      width: 100%; } }

.import__area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem; }

.import__form {
  border: solid 0.1rem var(--border-color);
  display: block;
  padding: 2rem;
  border-radius: 1.1rem;
  width: 45rem; }
  .import__form h3 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400; }
  .import__form--action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; }
  .import__form--area {
    height: 30rem !important;
    display: block; }
  .import__form--field {
    height: fit-content;
    border-radius: 1.1rem;
    border: solid 0.1rem var(--border-color);
    padding: 2rem;
    margin: 2rem 0; }
    .import__form--field p {
      margin: 0 0 1rem 0;
      font-weight: 600; }
    .import__form--field input {
      margin: 0;
      padding: 0;
      border: solid 0.1rem var(--border-color);
      width: 35rem;
      font-family: inherit;
      height: 5rem;
      border-radius: 1.1rem;
      background-color: #f9f9f9;
      box-shadow: 0 0 2rem #00000020;
      font-size: 1.5rem;
      padding: 0 1rem; }
    .import__form--field textarea {
      margin: 0;
      padding: 0;
      border: solid 0.1rem var(--border-color);
      width: 35rem;
      font-family: inherit;
      height: 10rem;
      font-size: 1.5rem;
      border-radius: 1.1rem;
      background-color: #f9f9f9;
      box-shadow: 0 0 2rem #00000020;
      padding: 1rem; }
    .import__form--field select {
      margin: 0;
      padding: 0;
      border: solid 0.1rem var(--border-color);
      width: 35rem;
      font-size: 1.5rem;
      padding: 1rem;
      font-family: inherit;
      height: 5rem;
      border-radius: 1.1rem;
      background-color: #f9f9f9;
      box-shadow: 0 0 2rem #00000020;
      padding: 0 1rem; }

.articles-action {
  width: 80%; }
  .articles-action__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .articles-action {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .articles-action {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .articles-action {
      width: 100%; } }
  .articles-action a {
    text-decoration: none;
    width: 100%; }
  @media print {
    .articles-action__title--ui {
      display: none; } }
  .articles-action__title--print {
    display: none; }
    @media print {
      .articles-action__title--print {
        display: block; } }
  .articles-action__btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    font-size: 2rem; }
    .articles-action__btn--published {
      background-color: #57b428;
      color: white; }
    .articles-action__btn--not-published {
      background-color: #a7a7a7;
      color: black; }
    .articles-action__btn--delete {
      background-color: #9c1b15;
      color: white; }
  .articles-action__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  @media print {
    .articles-action__no-print {
      display: none; } }
  .articles-action__item {
    border: solid 0.1rem var(--border-color);
    display: block;
    padding: 2rem;
    border-radius: 1.1rem;
    margin-top: 2rem;
    page-break-inside: avoid;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    padding: 2rem;
    gap: 2rem; }
    .articles-action__item--cover {
      display: grid;
      align-items: center; }
      .articles-action__item--cover img {
        object-fit: cover;
        width: 100%;
        height: auto; }
    .articles-action__item--info h3 {
      font-family: "Playfair Display";
      font-size: 2.5rem;
      margin: 0 0 0.5rem 0; }
    .articles-action__item--info h4 {
      font-weight: 400;
      font-size: 1.5rem;
      margin: 0.5rem 0; }
    .articles-action__item--action {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem; }

.members-action {
  width: 80%; }
  .members-action__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .members-action {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .members-action {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .members-action {
      width: 100%; } }
  .members-action a {
    text-decoration: none;
    width: 100%; }
  .members-action__btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    font-size: 2rem; }
    .members-action__btn--published {
      background-color: #57b428;
      color: white; }
    .members-action__btn--contestant {
      background-color: #b47c28;
      color: white; }
    .members-action__btn--not-published {
      background-color: #a7a7a7;
      color: black; }
    .members-action__btn--delete {
      background-color: #9c1b15;
      color: white; }
  .members-action__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .members-action__item {
    border: solid 0.1rem var(--border-color);
    display: block;
    padding: 2rem;
    border-radius: 1.1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3.5fr;
    padding: 2rem;
    gap: 2rem; }
    .members-action__item--cover {
      display: grid;
      align-items: center; }
      .members-action__item--cover img {
        object-fit: cover;
        aspect-ratio: 3/4;
        width: 100%;
        height: auto; }
      .members-action__item--cover--signature {
        display: grid;
        align-items: center; }
        .members-action__item--cover--signature img {
          object-fit: cover;
          aspect-ratio: 16/9;
          width: 100%;
          height: auto; }
    .members-action__item--info h3 {
      font-family: "Playfair Display";
      font-size: 2.5rem;
      margin: 0 0 0.5rem 0; }
    .members-action__item--info h4 {
      font-weight: 400;
      font-size: 1.75rem;
      margin: 0.5rem 0; }
    .members-action__item--info h5 {
      font-weight: 400;
      font-size: 1.5rem;
      margin: 0.5rem 0; }
    .members-action__item--action {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem; }

.issues-eics {
  width: 80%; }
  .issues-eics__wrapper {
    width: 100%;
    display: flex;
    justify-content: center; }
  @media print {
    .issues-eics {
      width: 100%; } }
  @media only screen and (min-width: 1800px) {
    .issues-eics {
      width: 65%; } }
  @media only screen and (max-width: 1000px) {
    .issues-eics {
      width: 100%; } }
  .issues-eics a {
    text-decoration: none;
    width: 100%; }
  @media print {
    .issues-eics__title--ui {
      display: none; } }
  .issues-eics__title--print {
    display: none; }
    @media print {
      .issues-eics__title--print {
        display: block; } }
  .issues-eics__btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    font-size: 2rem; }
    .issues-eics__btn--published {
      background-color: #57b428;
      color: white; }
    .issues-eics__btn--not-published {
      background-color: #a7a7a7;
      color: black; }
    .issues-eics__btn--delete {
      background-color: #9c1b15;
      color: white; }
  .issues-eics__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  @media print {
    .issues-eics__no-print {
      display: none; } }
  .issues-eics a {
    color: var(--text-color); }
  .issues-eics__article-card {
    text-decoration: none;
    border: solid 0.1rem var(--border-color);
    border-radius: 1.1rem;
    padding: 1rem 1rem;
    margin: 0.5rem 0; }
    .issues-eics__article-card h4 {
      margin: 0 !important;
      padding: 0; }
  .issues-eics__article-main {
    border: solid 0.1rem #ff4f4f !important; }
  .issues-eics__item {
    border: solid 0.1rem var(--border-color);
    display: block;
    padding: 2rem;
    border-radius: 1.1rem;
    margin-top: 2rem;
    page-break-inside: avoid;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    padding: 2rem;
    gap: 2rem; }
    @media only screen and (max-width: 800px) {
      .issues-eics__item {
        grid-template-columns: 1fr; } }
    .issues-eics__item--cover {
      display: grid;
      align-items: center; }
      .issues-eics__item--cover img {
        object-fit: cover;
        width: 100%;
        height: auto; }
    .issues-eics__item--info h3 {
      font-family: "Playfair Display";
      font-size: 2.5rem;
      margin: 0 0 0.5rem 0; }
    .issues-eics__item--info h4 {
      font-weight: 400;
      font-size: 1.5rem;
      margin: 0.5rem 0; }
    .issues-eics__item--action {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem; }

.letter {
  width: 100%;
  text-align: justify; }
  .letter h1 {
    text-align: left; }
  .letter__signatures {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    height: 100%; }
    .letter__signatures h3 {
      font-size: 1.75rem;
      margin: 0;
      text-align: left;
      font-weight: 400; }
    .letter__signatures h4 {
      font-weight: 400;
      font-size: 1.5rem;
      margin-top: 0.5rem;
      text-align: left; }
    .letter__signatures--wrap {
      width: 100%;
      height: 15rem;
      display: flex;
      justify-content: left;
      align-items: center; }
    .letter__signatures--item {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .letter__signatures--item img {
        width: 13rem;
        padding-bottom: 2rem; }
        @media (prefers-color-scheme: dark) {
          .letter__signatures--item img {
            -webkit-filter: invert(98%) sepia(100%) saturate(418%) hue-rotate(297deg) brightness(116%) contrast(94%);
            /* Safari/Chrome */
            filter: invert(98%) sepia(100%) saturate(418%) hue-rotate(297deg) brightness(116%) contrast(94%); } }

.article-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .article-card__image {
    width: 100%;
    margin-bottom: 0.5rem; }
    .article-card__image img {
      aspect-ratio: 16/9;
      object-fit: cover;
      width: 100%; }
  .article-card__info--content h4 {
    font-family: "Playfair Display", serif;
    font-size: 2.25rem;
    margin: 0;
    margin-bottom: 0.5rem; }
  .article-card__info--content p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.75rem; }
  .article-card__author h5 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--signature-grey);
    margin: 0; }

.image-c {
  display: block;
  width: 100%; }
  .image-c img {
    width: 100%; }
  .image-c p {
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
    text-align: right;
    color: var(--signature-grey); }

.loading {
  height: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 1.25rem; }
  .loading__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 18.5rem - 4rem); }
  .loading h3 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0;
    color: var(--signature-grey); }
  .loading h4 {
    font-style: italic;
    font-size: 1.75rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0;
    color: var(--signature-grey);
    white-space: break-spaces; }

.issue-card {
  width: 100%;
  display: block; }
  .issue-card a {
    color: var(--font-color);
    text-decoration: none; }
  .issue-card__cover {
    width: 100%;
    border: 0.1rem var(--signature-grey) solid;
    background-color: white; }
    .issue-card__cover img {
      width: 100%;
      object-fit: cover; }
  .issue-card__info {
    text-align: center; }
    .issue-card__info h3 {
      font-family: "Playfair Display";
      margin: 1rem 0 0 0;
      font-size: 2.25rem; }
    .issue-card__info h4 {
      color: var(--signature-grey);
      margin: 0.25rem 0 0 0;
      font-size: 1.5rem;
      font-weight: 400; }

.unsupport {
  text-align: center;
  width: 80%;
  font-weight: 600;
  font-style: italic;
  font-size: 1.75rem; }
  .unsupport__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  .unsupport i {
    font-size: 4rem;
    margin-bottom: 2rem; }
