@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=IM+Fell+Double+Pica+SC&display=swap");
html {
  font-family: "EB Garamond" !important;
  font-size: 10px; }

body {
  margin: 0; }

main {
  margin: 2rem;
  min-height: calc(100vh - 18.5rem); }

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 1rem; }

h2 {
  font-size: 3rem; }

p {
  font-size: 1.5rem; }

:root {
  --signature-white: #eeece9; }

.header {
  background-color: #eeece9;
  height: 10rem;
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: max;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    margin-left: 1rem; }
    .header__logo img {
      width: auto;
      height: 8rem; }
  .header__nav {
    height: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2rem; }
    .header__nav ul {
      border-bottom: #000 0.1rem solid;
      padding: 0.5rem;
      width: 100%;
      list-style: none;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: baseline; }
      .header__nav ul a {
        text-decoration: none;
        color: #000;
        font-size: 1.75rem; }

.footer {
  background-color: var(--signature-white);
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem; }
  .footer h4 {
    margin: 0;
    font-weight: 400; }
